* {
  margin: 0;
}

h1,
h3 {
  color: rgb(68 67 66);
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin: 20px 0;
}


.app__dropdown {
  background-color: white;
  border-radius: 5px;
}

.PrivateNotchedOutline-root-1 {
  border-style: none !important;
}


.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #484b58 !important;
  border-width: 0 !important;
}

.MuiSelect-select:focus {
  background-color: white !important;
  border-radius: 10px !important;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__left {
  flex: 0.9;
}

.app__right {
  display: flex;
  flex: column;
  border-radius: 10px !important;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.jss1 {
  border-style: none !important;
  border-width: 0 !important;
}

@media (max-width:990px) {
  .app {
    flex-direction: column;
  }

  .app__right {
    margin-top: 20px;
  }

  #menu- > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
    width: 100%;
  }

  li.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button {
    justify-content: center;
}
  
  #menu- > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width:600px) {

  .app__header > h1 {
    width: 50%;
  }
  .app__stats {
    flex-wrap: wrap;
  }

  .app__stats::-webkit-scrollbar {
    display: none;
  }

  .app__dropdown {
    width: 44%;
  }
}